@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-accent: #3b82f6;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
